h1 {
	font: normal 36px "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #fff;
	text-transform: lowercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.75);
	margin: 0 0 20px;
}

h1 span {
	color: rgba(173,173,173,0.6);
	text-shadow: inherit;	
}

body {
	color: #fff;
	background: #555 repeat-x;
	margin: 50px 0 0;
}

#boxthing {
    position:relative;
    background: #1e1e1e;
    border-bottom: 1px solid #2a2a2a;
    padding-top: 9px;
    text-shadow: #141414 0 1px 0;
	padding-bottom: 9px;
	margin-right: 10px;
	width: 400px;
	height: 100%;
}

#content {
	display: block;
	min-height: 300px;
	max-width: 600px;
	padding: 25px 65px 50px 112px;
}

ul a {	
	color: rgba(255,255,255,0.6);
	text-transform: capitalize;
	font-variant: small-caps;
}

ul #linkdesc {
	color: #fff;
	text-indent: 25px;
	font-size: 75%;
	line-height: 120%;
	padding-right: 8px;
	font-variant: small-caps;
}

ul {
	font: 20px/2 "Lucida Grande", Lucida, Verdana, sans-serif;
	color: rgba(173,173,173,0.6);
	list-style-position: inside;
	list-style-type: lower-greek;
}

p #line {
}